/* font-family: 'Kanit', sans-serif;
font-family: 'Nunito', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}
 body {
    background: rgba(47,47,47,0.98);
 }

 .header {
    /* background: rgba(47,47,47,0.98); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
 }

 .menu {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
 }

 .menu li {
    display: inline-block;
    padding: 0 20px;
 }

 .menu li:hover {
    transform: scale(1.1);
 }
 
 .menu li a:hover {
    color: black;
 }

 .menu a {
    font-size: 16px;
    color: rgba(255,255,255,0.85);;
    font-size: 700;
    text-decoration: none;
 }
 .header .title { 
    cursor: pointer;
    transition: all 0.3s;
    font-size: 25px;
 }
 
 .header .title:hover{
    transform: scale(1.2);
 }

 /* carrucel-de-imagenes */
.container-img {
  border-top: 2px solid #fff ;
  display: flex;
  justify-content: center;
}

 .carrusel-img {
     
 }

.img {
  background-color: #fff;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  width: 350px;
  height: 370px;
  transition: all 0.2s;
 }

 .img:hover {
  transform: scale(1.1);
 }

.container-h1-p {
  display: flex;
  justify-content: center;
}

 .bienvenida {
  text-align: center;
  font-size: 25px;
  color: papayawhip;
  padding: 15px;
 }

 .parrafo-bienvenida {
  color: #fff;
  width: 500px;
  height: 400px;
  text-align: center;
 }
