/* font-family: 'Kanit', sans-serif;
font-family: 'Nunito', sans-serif; */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}
 body {
    background: rgba(47,47,47,0.98);
 }

 .header {
    /* background: rgba(47,47,47,0.98); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 5%;
 }

 .menu {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none;
 }

 .menu li {
    display: inline-block;
    padding: 0 20px;
 }

 .menu li:hover {
    transform: scale(1.1);
 }
 
 .menu li a:hover {
    color: black;
 }

 .menu a {
    font-size: 16px;
    color: rgba(255,255,255,0.85);;
    font-size: 700;
    text-decoration: none;
 }
 .header .title { 
    cursor: pointer;
    transition: all 0.3s;
    font-size: 25px;
 }
 
 .header .title:hover{
    transform: scale(1.2);
 }

 /* carrucel-de-imagenes */
.container-img {
  border-top: 2px solid #fff ;
  display: flex;
  justify-content: center;
}

.img {
  background-color: #fff;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  width: 350px;
  height: 370px;
  transition: all 0.2s;
 }

 .img:hover {
  transform: scale(1.1);
 }

 /* bienvenida */

.container-h1-p {
  display: flex;
  justify-content: center;
  border-top: 2px solid #fff;
  margin-top: 4px;
}

 .bienvenida {
  text-align: center;
  font-size: 25px;
  color: papayawhip;
  padding: 15px;
  font-family: 'Josefin Sans', sans-serif;
 }

 .parrafo-bienvenida {
  color: #fff;
  width: 500px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
 }

 /* info-tema-150receta */

 .container-info {
   display: flex;
   justify-content: space-between;
   padding: 15px;
   border-bottom: 2px solid #fff;
 }

 .container-tema-tema2 {
   text-align: center;
   padding: 15px;
 }

 .tema-receta {
   color: papayawhip;
   font-size: 25px;
   padding: 0 0 15px 0;
   font-family: 'Nunito', sans-serif;
   
 }

 .parrafo-tema-receta {
   color: #fff;
   width: 500px;
   font-family: 'Nunito', sans-serif;
 }

 .button {
   border: 1px solid black;
   border-radius: 15px;
   width: 250px;
   height: 35px;
   margin-top: 15px;
   background-color: papayawhip;
   cursor: pointer;
   transition: all 0.3s;
 }

 .text-button {
   text-align: center;
   font-size: 17px;
   color: rgb(34, 33, 33);
   text-align: center;
 }

 .button:hover {
   transform: scale(1.2);
 }